/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 81.3%;
}
#block-system-main-menu ul li, #block-system-user-menu ul li {
  padding: 5px 10px;
}

#block-system-main-menu, #block-system-user-menu {
  display: block;
}

#block-menu-menu-mobile-menu {
  display: none;
}

#admin-menu li {
display:block;
}

